 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 167px auto 60px -50px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 753px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 753px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 90px;
}

.u-section-2 .u-form-1 {
  margin: 62px 0 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
}

.u-section-2 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-weight: 700;
}

.u-section-2 .u-input-6 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-7 {
  font-weight: 700;
}

.u-section-2 .u-input-7 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-weight: 700;
}

.u-section-2 .u-input-8 {
  font-size: 1.25rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  padding: 20px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 621px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 94px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    margin-top: 126px;
    margin-right: initial;
    margin-left: initial;
  }
}